################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Proyecto/.vs/Proyecto/FileContentIndex/15b3a8cf-a5e6-4d72-9b26-ea6ec5e732d9.vsidx
